body {
    -webkit-font-smoothing: antialiased;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

tbody {
    border-bottom: 1px solid black;
}

th, td {
    padding: 8px;
}

th {
    text-transform: capitalize;
}
